#main {
	width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 1em;
    font-size: 16px;
}

#main h1 {
	color:#0e0e6e;
}

#list1 {
	margin:2em 0;
}

#list1 h2, #list2 h2 {
	font-size: 1.5em;
	color:#1b3e7c;
}

input {
	padding: 5px 10px;
	font-size: .8em;
	margin-right: 10px;
	border-radius: 4px;
}

button {
	padding: 10px 15px;
    border-radius: 4px;
    background: orangered;
    color: white;
    font-size: 1em;
    cursor:pointer;
}

button:focus {
	outline: none;

}

.needto {
	list-style: none;
    border: 1px dashed #dc7f82;
    width: 45%;
    padding: 25px 15px 20px 15px;
    background: #ffe4e4;
    color: #fd0505;
    line-height: 1.25em;
    font-size: 1.1em;
    border-radius: 3px;
    min-height: 70px;
    max-height: 120px;
    margin-top: 2em;
}

.needto li {
	padding: 5px;
    width: 30%;
    display: inline-block;
    text-align: left;
}
















